<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <div class="title">My Website</div>
        <ul class="nav">
            <li><a href="about.html">about</a></li>
            <li><a href="predict.html">predict</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="inner-page.html" class="get-started-button">Get Started</a></li> 
        </ul>
    </div>

    

    <div class="content">
        <h1>Welcome to Startup Prediction</h1>
        <p>We predict whether  a startup turns into a success or a failure.</p>
    </div>
</body>
</html>