<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
    <link rel="stylesheet" type="text/css" href="predict.css">
</head>
<body>
    <div class="form-container">
        <div class="form-column left">
            <form>
                <h2>Enter Company Details Here</h2>
                <label for="is_ecommerce ">is_ecommerce:</label>
                <input type="select" id="is_ecommerce" name="is_ecommerce" required>
                
                <label for="is_otherstate">is_otherstate:</label>
                <input type="select" id="field1-2" name="field1-2" required>

                <label for="has_vc">has_vc:</label>
                <input type="select" id="field1-2" name="field1-2" required>

                
                <label for="has_angel">has_angel:</label>
                <input type="select" id="field1-2" name="field1-2" required>

                <label for="has_roundA">has_roundA:</label>
                <input type="select" id="field1-2" name="field1-2" required>

                <label for="has_roundB">has_roundB:</label>
                <input type="select" id="field1-2" name="field1-2" required>
                

                <label for="has_roundC">has_roundC:</label>
                <input type="select" id="field1-2" name="field1-2" required>


                <label for="has_roundD">has_roundD:</label>
                <input type="select" id="field1-2" name="field1-2" required>


                <label for="is_top500">is_top500:</label>
                <input type="select" id="field1-2" name="field1-2" required>


                <label for="relationships">relationships:</label>
                <input type="enter" id="field1-2" name="field1-2" required>


                <label for="funding_rounds">funding_rounds:</label>
                <input type="enter" id="field1-2" name="field1-2" required>


                <label for="milestones">milestones:</label>
                <input type="enter" id="field1-2" name="field1-2" required>

                <!-- Add more fields as needed -->
                
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>
</body>
</html>